body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e0f7fa; /* Litt NetPet-farge */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 { color: #006064; }

user-manager {
    width: 80%;
    max-width: 600px;
}